@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

* {
    background-color: rgb(241, 233, 238);
    font-family: 'Otomanopee One', sans-serif;
}
.card {
    border-radius: 20px 20px 20px 20px;
}
.background {
    background-color: rgb(177, 212, 214);
}
